
{%load static%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bluebox Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css'%}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'assets/js/Lightweight-Chart/cssCharts.css'%}"> 
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>bluebox</strong></a>
            </div>

            
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li>
                            <a href="{%url 'dashboard'%}"><i class="fa fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{%url 'kamar'%}"><i class="fa fa-desktop"></i> Kamar</a>
                        </li>
                        <li>
                            <a href="{%url 'charge'%}"><i class="fa fa-bar-chart-o"></i> Charge</a>
                        </li>
                        <li>
                            <a href="{%url 'pelanggan'%}"><i class="fa fa-qrcode"></i> Pelanggan</a>
                        </li>
                        
                        <li>
                            <a href="{%url 'penyewaan'%}"><i class="fa fa-table"></i> Penyewaan</a>
                        </li>
                        <li>
                            <a href="{% url 'laporan'%}"><i class="fa fa-edit"></i> Laporan </a>
                        </li>
                    </ul>
        
                </div>
        
            </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            Dashboard <small>Summary of your App</small>
                        </h1>
									
		</div>
            <div id="page-inner">
                <div id="page-inner"> 
               
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                     Advanced Tables
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        {% if objek.0.idpenyewaan %}
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>IDpenyewaan</th>
                                                    <th>Nama Penyewa</th>
                                                    <th>Kamar</th>
                                                    <th>tanggalsewa</th>
                                                    <th>Pembayaran</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in objek %}
                                                <tr class="odd gradeX">
                                                    <td>{{item.idpenyewaan}}</td>
                                                    <td>{{item.idpelanggan}}</td>
                                                    <td>{{item.idkamar}}</td>
                                                    <td>{{item.tanggalsewa}}</td>
                                                    <td>{{item.hargasewa}}</td>
                                                    <td>
                                                        
                                                            <a href="{% url 'checkout' item.idpenyewaan %}">
                                                                <button class="btn btn-danger" type="button" >
                                                                    Checkout
                                                                </button>
                                                            </a>

                                                        
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% else %}
                                        <h1>Tidak ada data</h1>
                                        {% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div class="modal fade" id="addresepsionis" tabindex="0" role="dialog" aria-labelledby="addresepsionis" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addresepsionis">ADD ASISTEN</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" id="addasisten">
                {% csrf_token %}
            <div class="modal-body">
                    <div class="form-group">
                      <label for="nama">Nama Asisten</label>
                      <input type="text" class="form-control" id="nama" placeholder="Nama" name="nama">
                    </div>
                    <div class="form-group">
                      <label for="nim">NIM</label>
                      <input type="text" class="form-control" id="nim" placeholder="Nim" name="nim">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" id="email" placeholder="email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="nomor">Nomor HP</label>
                      <input type="text" class="form-control" id="nomor" placeholder="nomor" name="nomorhp">
                    </div>
                    <input type="hidden" name="form_type" value="addform">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <!-- ADD MODAL -->
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'assets/js/jquery-1.10.2.js'%}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	 
    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js'%}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js'%}"></script>
    <script src="{% static 'assets/js/morris/morris.js'%}"></script>
	
	
	<script src="{% static 'assets/js/easypiechart.js'%}"></script>
	<script src="{% static 'assets/js/easypiechart-data.js'%}"></script>
	
	 <script src="{% static 'assets/js/Lightweight-Chart/jquery.chart.js'%}"></script>
	
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js'%}"></script>

      <script>
    
      </script>

</body>

</html>