
{%load static%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bluebox Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'assets/js/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css'%}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'assets/js/Lightweight-Chart/cssCharts.css'%}"> 
    <script src="https://kit.fontawesome.com/b79b5788e0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>bluebox</strong></a>
            </div>

            
        </nav>
        <!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="{%url 'dashboard'%}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{%url 'kamar'%}"><i class="fa fa-desktop"></i> Kamar</a>
                </li>
                <li>
                    <a href="{%url 'charge'%}"><i class="fa fa-bar-chart-o"></i> Charge</a>
                </li>
                <li>
                    <a href="{%url 'pelanggan'%}"><i class="fa fa-qrcode"></i> Pelanggan</a>
                </li>
                
                <li>
                    <a href="{%url 'penyewaan'%}"><i class="fa fa-table"></i> Penyewaan</a>
                </li>
                <li>
                    <a href="{% url 'laporan'%}"><i class="fa fa-edit"></i> Laporan </a>
                </li>
            </ul>

        </div>

    </nav>
        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                            Dashboard <small>Summary of your App</small>
                        </h1>
						
									
		</div>
            <div id="page-inner">

                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue">
                                <i class="fa fa-solid fa-person fa-5x"></i>
                                
                            </div>
                            <div class="panel-right">
								<h3>{{kamartersediapa}}</h3>
                               <strong> Kamar tersedia</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                              <div class="panel-left pull-left blue">
                                <i class="fa fa-solid fa-person-dress  fa-5x "></i>
								</div>
                                
                            <div class="panel-right">
							<h3>{{kamarterserdiapi}}</h3>
                               <strong> Kamar tersedia</strong>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue">
                                <i class="fa fa-solid fa-money-bill-wave fa-5x"></i>
                               
                            </div>
                            <div class="panel-right">
							 <h3>{{totalpemesanan}}</h3>
                               <strong> Total penyewaan </strong>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder blue">
                            <div class="panel-left pull-left blue">
                                <i class="fa fa-users fa-5x"></i>
                                
                            </div>
                            <div class="panel-right">
							<h3>{{totalcharge}}</h3>
                             <strong>Total charge</strong>

                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="row">
                    
                    <div class="col-md-12">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                                Data
                            </div>
                            <div class="panel-body">

                                    <a href="{% url 'sewa' %}" >
                                        <button class="btn btn-primary btn-lg col-md-12 p-1">Sewa Kamar</button>
                                    </a>
                                    <a href="{% url 'cek' %}" >
                                        <button class="btn btn-success btn-lg col-md-12 p-1">Cek</button>
                                    </a>
                                    <a href="{% url 'adddetailcharge' %}" >
                                        <button class="btn btn-success btn-lg col-md-12 p-1">input charge</button>
                                    </a>
                            </div>						
                        </div>   
                        </div>		
					
				</div> 
			 
				
			

		
				<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p>
				
        
				</footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- MODAL ADD -->

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'assets/js/jquery-1.10.2.js'%}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	 
    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js'%}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js'%}"></script>
    <script src="{% static 'assets/js/morris/morris.js'%}"></script>
	
	
	<script src="{% static 'assets/js/easypiechart.js'%}"></script>
	<script src="{% static 'assets/js/easypiechart-data.js'%}"></script>
	
	 <script src="{% static 'assets/js/Lightweight-Chart/jquery.chart.js'%}"></script>
	
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js'%}"></script>

      <script>
    
      </script>

</body>

</html>