<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page{
            size: 'A4';
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
            @top-center{
                content: 'BISMILLAH';
            }
        }
    </style>
</head>
<body>
    <h1>HALOO TES</h1>
    <table>
        <tr>
            <th>IDPelanggan</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal lahir</th>
            <th>nomorhp</th>
        </tr>
        {% for item in pelanggan %}
        <tr>
            <th>{{item.idpelanggan}}</th>
            <th>{{item.nama}}</th>
            <th>{{item.jeniskelamin}}</th>
            <th>{{item.tanggallahir}}</th>
            <th>{{item.nohp}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>